    /*****************
    =Demo Styles
    */
    
    #demo {
        position: relative;
        width: 100%;
        min-height: 90vh;
    }
    
    #demo__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    /*****************
    =Interface Styles
    */
    
    #webform-embed-position .webform-monitor-widget {
        background: url(./assets/monitor-embed-position.png) no-repeat;
    }
    
    #webform-embed-position .inner {
        position: relative;
        top: 26px;
        left: 26px;
        width: 298px;
        height: 194px;
    }
    
    #webform-embed-stretch .webform-monitor-widget {
        background: url(./assets/monitor-embed-stretch.png) no-repeat;
    }
    
    #webform-embed-stretch .inner {
        position: relative;
        top: 24px;
        left: 24px;
        width: 302px;
        height: 203px;
    }
    /*****************
    =Interface Widgets
    */
    
    .webform-offset-widget {
        position: absolute;
        width: 150px;
        height: 70px;
    }
    
    .webform-offset-widget.xAxis {
        bottom: 20px;
        left: 290px;
    }
    
    .webform-offset-widget.yAxis {
        top: 90px;
        left: 0;
    }
    
    .webform-monitor-widget {
        position: relative;
        width: 350px;
        height: 283px;
    }
    
    .webform-monitor-widget-holder {
        position: absolute;
        width: 350px;
        height: 283px;
        left: 200px;
    }
    /*****************
    =Interface Position/Stretch Grid
    */
    
    .webform-position-grid {
        position: relative;
        width: 550px;
        /* 350px */
        height: 380px;
        /* 283px */
        /*border: 10px solid #ddd;*/
        /* Everything is invisible until toggle event */
        display: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .webform-position-grid.active {
        display: block;
    }
    
    .webform-position-grid .cell {
        position: absolute;
        width: 53px;
        height: 54px;
    }
    
    .webform-position-grid .cell:hover {
        cursor: pointer;
    }
    
    #webform-embed-position .cell:hover {
        background: url(./assets/cell-hover.png) no-repeat;
    }
    
    #webform-embed-position .cell.active {
        background: url(./assets/cell-active.png) no-repeat;
    }
    
    #webform-embed-stretch .cell:hover {
        z-index: 2;
    }
    
    #webform-embed-stretch .cell.active {
        z-index: 1;
    }
    
    #webform-embed-stretch .cell.topCenter:hover {
        background: url(./assets/top-stretch-hover.png) no-repeat;
    }
    
    #webform-embed-stretch .cell.topCenter.active {
        background: url(./assets/top-stretch-active.png) no-repeat;
    }
    
    #webform-embed-stretch .cell.middleLeft:hover {
        background: url(./assets/left-stretch-hover.png) no-repeat;
    }
    
    #webform-embed-stretch .cell.middleLeft.active {
        background: url(./assets/left-stretch-active.png) no-repeat;
    }
    
    #webform-embed-stretch .cell.middleRight:hover {
        background: url(./assets/right-stretch-hover.png) no-repeat;
    }
    
    #webform-embed-stretch .cell.middleRight.active {
        background: url(./assets/right-stretch-active.png) no-repeat;
    }
    
    #webform-embed-stretch .cell.bottomCenter:hover {
        background: url(./assets/bottom-stretch-hover.png) no-repeat;
    }
    
    #webform-embed-stretch .cell.bottomCenter.active {
        background: url(./assets/bottom-stretch-active.png) no-repeat;
    }
    
    .webform-position-grid .cell.topLeft {
        top: 0;
        left: 0;
    }
    
    .webform-position-grid .cell.topCenter {
        top: 0;
        left: 50%;
        margin-left: -25px;
    }
    
    #webform-embed-position .cell.topCenter {
        margin-left: -26px;
    }
    
    #webform-embed-stretch .cell.topCenter {
        width: 100%;
        height: 46px;
        left: 25px;
    }
    
    .webform-position-grid .cell.topRight {
        top: 0;
        right: 0;
    }
    
    .webform-position-grid .cell.middleLeft {
        top: 50%;
        left: 0;
        margin-top: -25px;
    }
    
    #webform-embed-position .cell.middleLeft {
        bottom: -5px;
    }
    
    #webform-embed-stretch .cell.middleLeft {
        width: 46px;
        height: 100%;
        top: 25px;
    }
    
    .webform-position-grid .cell.middleCenter {
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    
    #webform-embed-position .cell.middleCenter {
        margin-left: -26px;
    }
    
    .webform-position-grid .cell.middleRight {
        top: 50%;
        right: 0;
        margin-top: -25px;
    }
    
    #webform-embed-stretch .cell.middleRight {
        width: 46px;
        height: 100%;
        top: 25px;
    }
    
    .webform-position-grid .cell.bottomLeft {
        bottom: 0;
        left: 0;
    }
    
    #webform-embed-position .cell.bottomLeft {
        bottom: -5px;
    }
    
    .webform-position-grid .cell.bottomCenter {
        bottom: 0;
        left: 50%;
        margin-left: -25px;
    }
    
    #webform-embed-position .cell.bottomCenter {
        bottom: -5px;
        margin-left: -26px;
    }
    
    #webform-embed-stretch .cell.bottomCenter {
        width: 100%;
        height: 46px;
        left: 25px;
    }
    
    .webform-position-grid .cell.bottomRight {
        bottom: 0;
        right: 0;
    }
    
    #webform-embed-position .cell.bottomRight {
        bottom: -5px;
    }
    /*****************
    =Interface Position/Stretch Grid
    */
    
    .number-spinner-input {
        position: relative;
    }
    
    .number-spinner-holder {
        position: relative;
        z-index: 1;
    }
    
    .number-spinner-holder.disabled:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ddd;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        -moz-opacity: 0.4;
        -khtml-opacity: 0.4;
        opacity: 0.4;
        z-index: 2;
    }
    
    .number-spinner-holder > .spinner-control {
        position: absolute;
        z-index: 1;
        width: 24px;
        color: #A9AFB6;
        cursor: pointer;
        background: #eeeeee;
        border: 1px solid #B6C0CD;
        height: 30px;
        line-height: 30px;
        text-align: center;        
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .number-spinner-holder > .spinner-control:active {
        -webkit-box-shadow: inset 0 2px 2px #DED6D6;
        -moz-box-shadow: inset 0 2px 2px #DED6D6;
        box-shadow: inset 0 2px 2px #DED6D6;
    }

    .number-spinner-holder > .spinner-control:active > span {
        color: #576470;
    }
    
    .number-spinner-holder > .spinner-control.disabled,
    .number-spinner-holder > .spinner-control.disabled:hover,
    .number-spinner-holder > .spinner-control.disabled:focus,
    .number-spinner-holder > .spinner-control.disabled:active
    .number-spinner-holder > .spinner-control.disabled > span,
    .number-spinner-holder > .spinner-control.disabled:hover > span,
    .number-spinner-holder > .spinner-control.disabled:focus > span,
    .number-spinner-holder > .spinner-control.disabled:active > span {
        color: #E0DDDD;
        cursor: no-drop;
        box-shadow: none;
    }
    
    .number-spinner-holder > .spinner-control.disabled:after,
    .number-spinner-holder > .spinner-control.disabled:after:hover,
    .number-spinner-holder > .spinner-control.disabled:after:focus,
    .number-spinner-holder > .spinner-control.disabled:after:active {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ddd;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        -moz-opacity: 0.4;
        -khtml-opacity: 0.4;
        opacity: 0.4;
        z-index: 2;
    }
    
    .number-spinner-holder > .spinner-control:hover,
    .number-spinner-holder > .spinner-control:focus,
    .number-spinner-holder > .spinner-control:active {
        color: #588BC3;
        outline: 0;
    }
    
    .number-spinner-holder > .spinner-control.left,
    .number-spinner-holder > .spinner-control.down {
        left: 0;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    
    .number-spinner-holder > .spinner-control.down > span {
        position: relative;
        left: 0;
        display: inline-block;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
    }
    
    .number-spinner-holder > .spinner-control.right,
    .number-spinner-holder > .spinner-control.up {
        right: 0;
    }
    
    .number-spinner-holder > .spinner-control.up > span {
        position: relative;
        left: 0px;
        display: inline-block;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    
    .number-spinner-holder > .number-spinner-input {
        width: 100%;
        padding-left: 28px;
        padding-right: 28px;
        text-align: center;
    }
    
    .number-spinner-holder .add-on {
        color: #A2A2A2;
        text-align: center;
        font-size: 11px;
        height: 20px;
        line-height: 19px;
        right: -27px;
        top: 0;
        left: inherit;
        border-left: 1px solid #b6c0cd;
        border-top: 1px solid #b6c0cd;
        border-bottom: 1px solid #b6c0cd;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        background: #eeeeee;
    }